.ranking {
  font-family: "Hammersmith One", sans-serif;
  font-weight: 500;
  .leaderboard {
    margin-top: 20px;
  }
  .home-link {
    margin-top: 20px;
  }

  .items-wrapper {
    justify-content: center;
    display: flex;
  }
  .items {
    border-spacing: 0;
  }
  .item {
    width: 100%;
    font-weight: 500;
    &:nth-child(even) {
      background: bisque;
    }
    &:nth-child(odd) {
      background: rgba(81, 203, 238, 1);
    }

    padding: 5px;
    .item-col {
      padding: 0 20px;
    }
  }
  .item-col-content {
    word-break: break-word;
    max-height: 1.2em;
    overflow: hidden;
    max-width: 600px;
    min-width: 50px;
  }
}
