.ranking {
  font-family: "Hammersmith One", sans-serif;
  font-weight: 500;
  .leaderboard {
    margin-top: 20px;
  }
  .home-link {
    margin-top: 20px;
  }

  .items-wrapper {
    justify-content: center;
    display: flex;
  }
  .items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    &:nth-child(even) {
      background: bisque;
    }
    &:nth-child(odd) {
      background: rgba(81, 203, 238, 1);
    }

    padding: 5px;

    .item-name {
      margin: 0 10px;
    }
    .item-col {
      margin: 0 20px;
    }
  }
  .item-col-content {
    display: flex;
  }
}